<div class="row">
  <div class="col-12">
    <div class="jumbotron">
      <h1>Somar</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
       <input type="text" class="form-control"  aria-describedby="basic-addon1" placeholder="0">
  </div>
</div>
<br>
<div class="row">
  <div class="col-4"><button type="button" class="btn btn-primary btn-lg btn-block">Lanche R$ 5,00</button>
</div>
  <div class="col-4"><button type="button" class="btn btn-primary btn-lg btn-block">Bebida R$ 4,00</button>
</div>
  <div class="col-4"><button type="button" class="btn btn-primary btn-lg btn-block">Doçe R$ 3,OO</button>
</div>
</div>
